

.mid-menu {
  flex-direction: row;
  width: calc(100% - 400px);
  height: 180px;
  margin: 0 200px;
  justify-content: space-between;
}

.mid-menu a {
  /* font-size: 1.1em; */
  font-weight: 600;
  letter-spacing: -0.03em;
  color: #678985;
}

.mid-menu a:active {
  transform: scale(0.8);
  transition: all 0.2s ease-in;
}

.mid-menu a span{
  margin-top: 5px;
}
