
.indvl-book-list-wrapper {
  width: 710px;
  margin: 0 auto;
  padding-top: 20px;
  min-height: 500px;
}


.indvl-book-wrapper {
  min-height: 300px;
  width: 130px;
  float: left;
  margin-right: 63.33px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 45px;
  transition: all 0.2s ease-in;
}

.indvl-book-wrapper img:hover {
  opacity: 0.8;
  transition: all 0.2s ease-in;
}

.indvl-book-wrapper:nth-child(4),
.indvl-book-wrapper:nth-child(8),
.indvl-book-wrapper:nth-child(12),
.indvl-book-wrapper:nth-child(16),
.indvl-book-wrapper:nth-child(20),
.indvl-book-wrapper:nth-child(24) {
  margin-right: 0;
}

.indvl-book-list-desc {
  align-items: flex-start;
}

.indvl-book-list-desc .title {
  color: #4B6C68;
  margin-bottom: 5px;
  letter-spacing: -0.025em;
  font-size: 0.93em;
}

.indvl-book-list-desc .author{
  letter-spacing: -0.025em;
  font-size: .8em;
}

.indvl-book-list-desc .author a {
  color: #DBA621;
}

.indvl-book-list-desc .rating {
  width: 130px;
  flex-direction: row;
  height: 25px;
  justify-content: space-between;
}

.indvl-book-list-desc .rating span {
  display: block;
  letter-spacing: -0.025em;
  font-size: .8em;
  color: #4B6C68;
  
}

.indvl-book-list-desc .rating svg {
  margin-left: 2px;
  width: 12px;
  height: 12px;
}

.indvl-book-list-desc .title:hover, .indvl-book-list-desc .author a:hover {
  text-decoration: underline;
}
